body {
    padding: 1em;
} .Vehicle_Financing {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    height: 120px;
    border: 1px solid #E6EDFF;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; /* Prevent line breaks */
    scroll-behavior: smooth; /* Smooth scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}
.Vehicle_Financing::-webkit-scrollbar {
    height: 8px;
}
.Vehicle_Financing::-webkit-scrollbar-track {
    background: transparent;
}
.Vehicle_Financing::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
    border: 2px solid #fff;
}
.card_Financing {
    border-radius: 5px;
    flex: 0 0 auto; /* Prevent card from shrinking */
    width: 120px;
    height: 100px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    text-align: center;
    margin-right: 10px; /* Add gap between cards */
}
.card_Financing img {
    max-width: 100%;
    max-height: 40px;
    object-fit: cover;
}
.card-title_Financing {
    font-size: 15px;
    font-family: 'Manrope';
    font-weight: bolder;
    margin: 5px 0;
}
.card-description_Financing {
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 13px;
    color: #7C8DB5;
}


.card-gasF {
    background-color: #D1ECFF;
}


.card-oilF {
    background-color: #DCFFEE;
}



.card-tollF {
    background-color: #F4D8FF;
}

.card-washF {
    background-color: #FFEDD7;
}