
.username p {
    color: #5243E6;
    margin: 15px;
    font-family: 'Manrope';
    font-size: 30px;
    font-weight: bolder;
    font-style: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userdat-stats {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.UData {
    margin-right: 10px;
    margin-left: 10px;
}

.UDdata {
    display: flex;
    justify-content: space-evenly;
}

.Ustats {
    display: flex;
    flex-direction: column;
}

/* Tambahkan kelas ini untuk Ustats kedua */
.Ustats.right-align .UData {
    text-align: right;
    margin-left: auto;
}

.UDat {
    font-family: 'Manrope';
    font-size: 18px;
    font-style: bolder;
    font-weight: bolder;
}

.Ustat {
    font-family: 'Manrope';
    font-size: 12px;
    font-style: bolder;
    font-weight: bolder;
    color: #5243E6;
}

.Uview {
    font-family: 'Manrope';
    font-size: 8px;
    font-style: bolder;
    font-weight: bolder;
    color: #55C1F8;
}

.userimg {
    display: flex;
    justify-content: center;
    align-items: center; /* Pastikan gambar berada di tengah vertikal */
    position: absolute;
    top: 145px; /* Jarak dari atas elemen kontainer */
    left: 50%; /* Posisi horizontal tengah */
    transform: translateX(-50%); /* Menggeser gambar ke kiri sebanyak 50% dari lebar gambar untuk memastikan berada di tengah */
    width: 250px; /* Atur lebar sesuai kebutuhan */
    height: auto; /* Atur tinggi otomatis mengikuti lebar gambar */
}

.userimg img {
    width: 100%; /* Gambar mengikuti lebar kontainer .userimg */
    height: auto; /* Tinggi gambar otomatis mengikuti rasio aslinya */
}


