.LiveTracking {
    width: 100%;
    max-width: 1000px;
    height: 450px;
    border: 1px solid #E6EDFF;
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 20px; /* Tambahkan margin untuk memberikan jarak */
}

.LTT {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.LTT p {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 15px;
}

.map-container {
    flex: 1;
    height: 100%;
    display: flex;
    margin: 0 0;
    border-radius: 1.5em;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .LiveTracking {
        max-width: 800px;
        margin-right: 15px; /* Ubah margin untuk ukuran layar menengah */
    }
}

@media (max-width: 992px) {
    .LiveTracking {
        max-width: 600px;
        margin-right: 10px; /* Ubah margin untuk ukuran layar yang lebih kecil */
    }
}

@media (max-width: 768px) {
    .LiveTracking {
        max-width: 100%;
        height: auto;
        margin-right: 10px; /* Ubah margin untuk ukuran layar kecil */
    }

    .map-container {
        height: auto;

    }
}

@media (max-width: 576px) {
    .LTT p {
        font-size: 18px;
        text-align: center;
    }
    .LiveTracking {
        margin-right: 5px; /* Ubah margin untuk ukuran layar sangat kecil */
    }
}

