body {
    padding: 1em;
}

.content_bawah {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.Vehicle_List_Tittle, .Vehicle_List_Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px; /* Radius sudut */
    width: 100%; /* Lebar kotak */
    max-width: 600px; /* Lebar maksimum kotak */
    border: 1px solid #E6EDFF; /* Ketebalan dan warna garis tepi kotak */
}

.Vehicle_List_Tittle {
    height: 50px; /* Tinggi kotak */
}

.Vehicle_List_Row {
    height: 50px; /* Tinggi kotak */
}

.Vehicle_List_Row:nth-child(even) {
    background-color: #F5F4FF;
}

.title-cell, .row-cell {
    flex: 1;
    text-align: center;
}

.Vehicle_List_Container {
    max-height: 150px; /* Tinggi maksimum container */
    overflow-y: auto; /* Membuat scroll vertikal */
    background-color: white; /* Latar belakang putih */
    border-radius: 10px; /* Radius sudut */
    border: 1px solid #E6EDFF; /* Ketebalan dan warna garis tepi kotak */
}

/* Hilangkan scrollbar */
.Vehicle_List_Container::-webkit-scrollbar {
    display: none;
}

.Vehicle_List_Container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}