.expanse-content {
    margin-top: 1em;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.expanse-data {
    width: 220px;
    display: flex;
    flex-direction: column;
    row-gap: 10px; /* Ganti dari column-gap ke row-gap untuk mengatur jarak vertikal */
}

.total-expanse {
    padding: 0.5em;
    flex-direction: column;
    border-radius: 21px;
    height: 120px; /* Ubah menjadi 100px sesuai permintaan */
    background-color: #F6FAFF;
}



.total-expanse h5 p h4 {
    font-family: "Manrope";
}


.total-expanse h5 {
    font-size: 18px;
    font-weight: 800;
    color: #09244B;
}

.total-expanse p {
    font-size: 12px;
    font-weight: 800;
    color: #5243E6;
}

.total-expanse h4 {
    font-size: 22px;
    font-weight: 800;
}

.expanse-detail {
    border-radius: 21px;
    height: 299px;
    background-color: #F6FAFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.expanse-detail-head {
    padding: 0.5em;
    flex-direction: column;
    flex-shrink: 0; /* Mencegah bagian ini ikut di-scroll */
}

.expanse-detail-head h5 {
    font-size: 18px;
    font-weight: 800;
    color: #09244B;
    margin-bottom: 0px;
}

.expanse-detail-head p {
    font-size: 12px;
    font-weight: 800;
    color: #5243E6;
    margin-top: 0;
    margin-bottom: 5px;
}

.expanse-detail-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px; /* Mengurangi jarak antara elemen */
    overflow-y: auto; /* Menambahkan scroll jika konten melebihi tinggi container */
    scrollbar-width: none; /* Firefox: menyembunyikan scrollbar */
    flex-grow: 1; /* Agar bagian ini mengambil sisa ruang */
}

/* Chrome, Safari, dan Edge: menyembunyikan scrollbar */
.expanse-detail-content::-webkit-scrollbar {
    display: none;
}

.expense-item {
    display: flex;
    flex-direction: column;
    margin: 2px 0; /* Mengurangi jarak atas dan bawah antar item */
}

.expense-type {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}

.expense-value {
    font-size: 13px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.consumption {
    color: #C2431F;
}

.gas-station {
    color: #6AA5B5;
}

.parking {
    color: #A085C2;
}

.erp {
    color: #6DB24A;
}

.tol {
    color: #6DB24A;
}



.expanse-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

.expanse-table table {
    width: 100%;
    font-family: 'Manrope', sans-serif;
}

.expanse-table th, .expanse-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.expanse-table th {
    color: #888888;
    font-weight: 600;
}

.expanse-table td {
    font-size: 14px;
    color: #1F2937;
}

.expanse-table .type {
    color: #C55A11; /* Warna merah untuk teks "Consumption" */
}

.expanse-table .time {
    display: block;
    font-size: 12px;
    color: #5B6A82;
    margin-top: 4px;
}
