.personal-content {
    display: flex;
    justify-content: space-between;
    width: 600px;
}



.content-personal-data {
    padding: 1em;
    flex-direction: column;
    display: flex;
}

.content-personal-data h5 {
    font-family: "Lato";
    color: #7F8489;
    margin-bottom: 0; /* Jarak bawah dihilangkan */
}

.content-personal-data p {
    font-family: "Manrope";
    font-weight: bold;
    margin-top: -2px; /* Jarak atas negatif untuk lebih dekat */
}


.content-personal-data-Performance_Ratings p {
    color: #65B468;
}
