.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 75px; /* Gap besar di antara kolom (samping) */
    row-gap: 40px; /* Gap kecil di antara baris (atas-bawah) */
    padding: 20px;
    max-width: 650px; /* Menyesuaikan lebar maksimum container */
    margin: 0 auto; /* Memastikan container berada di tengah */
}


.card-doc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 90px;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
}

.card-doc-content {
    display: flex;
    flex-direction: column;
}

.card-doc-title {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 800;

}

.card-doc-description {
    font-family: "Lato";
    font-size: 16px;
    color: #7F8489;
}

.card-doc-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.card-doc-overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.card-doc-overlay.show {
    display: flex;
}