.Last_Trip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 10px;
}

.LastTrip {
    width: 850px; /* Lebar kotak */
    height: 50px; /* Tinggi kotak */
    border: 1px solid #E6EDFF; /* Ketebalan dan warna garis tepi kotak */
    display: flex;
    background-color: white;
    border-radius: 10px; /* Radius sudut */
}

.LastTrip h1 {
    color: black;
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.LT-Data {
    width: 725px; /* Lebar kotak */
    height: 350px; /* Tinggi kotak */
    border: 1px solid #E6EDFF; /* Ketebalan dan warna garis tepi kotak */
    display: flex;
    flex-direction: column;
    overflow-y: scroll; /* Membuat daftar dapat digulir secara vertikal */
    margin-top: 15px;/* Jarak dari atas dan bawah, dan otomatis untuk sisi kiri dan kanan */
    background-color: white;
    border-radius: 10px; /* Radius sudut */
    scrollbar-width: none;
    margin-right: 10px; /* Untuk menghilangkan scrollbar di Firefox */
}

.LT-Data::-webkit-scrollbar {
    display: none; /* Untuk menghilangkan scrollbar di Chrome, Safari, dan Opera */
}

.LTDat {
    margin: 10px;
}

.trip-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.trip-date {
    font-weight: bold;
    font-size: 14px;
    color: #7C8DB5;
    margin-bottom: 5px; /* Tambahkan jarak antara trip-date dan trip-content */
}

.trip-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.trip-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.time-location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.time-location img.icon {
    width: 24px; /* Set width to a standard size */
    height: 24px; /* Set height to a standard size */
    margin-right: 10px;
}

.time-location .time {
    width: 60px; /* Atur lebar tetap untuk time */
    text-align: left; /* Posisi teks time tetap di kiri */
    font-weight: bold;
    margin-right: 10px; /* Jarak antara time dan location */
}

.vehicle-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Menyelaraskan item secara horizontal di tengah */
    margin-left: auto; /* Pindahkan ke kanan */
    text-align: flex-end; /* Pusatkan teks di dalam div */
}

.vehicle-name,
.distance {
    width: 150px; /* Atur lebar tetap untuk memastikan alignment */
    text-align: right;
    font-weight: bold;
}

.horizontal-line {
    border-top: 2px solid #DBDBDB;
    margin-top: 10px;
}

.trip-item:last-child .horizontal-line {
    display: none; /* Menghilangkan garis horizontal pada item terakhir */
}

.location {
    color: #7C8DB5;
    flex: 1; /* Biarkan location mengambil sisa ruang */
}

.dotted-line {
    margin-left: 11px;
    border-left: 1px dashed #5243E6;
    height: 15px; /* Sesuaikan tinggi sesuai kebutuhan */
    position: relative;
}

.log-trip {
    display: flex;
    justify-content: space-between;
    width: 570px;
}

.vehicle-name {
    color: #DB1111;
}

.distance-dat {
    color: #DB1111;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}