@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.left-content {
    gap: 25px;
    display: flex;
    flex-direction: column; /* Mengatur agar konten ditampilkan dalam kolom */
}


.title-name {
    padding: 1em;
    width: 475px;
    height: 125px;
    background-color: #F6FAFF;
    border-radius: 10px;
    border: 2px solid #E6EDFF; /* Tambahkan properti border */
}

.title-up {
    display: flex;
    justify-content: space-between;

}

.title-pa {
    color: #5243E6;
    font-weight: bolder;
    font-size: larger;

}

.title-stats {
    justify-content: center;
    align-content: center;
    display: flex;
    width: 80px;
    height: 25px;
    background-color: #BBF6EA;
    color: #17E438;
    border-radius: 12px;
    font-weight: bolder;
    font-size: small;
    padding-top: 2px;
}

.h2-bold h2 {

    font-weight: 1000;

}

.user {
    width: 300px;
    height: 75px;
    background-color: #E5EEFF;
    border-radius: 18px;
    display: flex;
    justify-content: ;
    align-items: center;
    justify-content: space-between;
}
.username {
    display: flex;
    flex-direction: column;
}
.username h2 {
    font-size: small;
}
  
  * {
    font-family: "Manrope";
  }
  
  #app {
    position: relative;
  }
  
  #main {
    margin-left: 260px;
    background-color: #F7FAFF;
    min-height: 100vh;
    transition: margin-left 0.6s ease-out;
  }
  #main .main-content {
    padding: 2rem 1.5rem;
  }
  #main .main-content .page-title h3 {
    font-size: 2rem;
  }
  #main .main-content .text-subtitle {
    font-size: 0.9rem;
  }
  
  .breadcrumb-header .breadcrumb {
    justify-content: flex-end;
  }
  
  .alert.alert-dismissible .close:focus, .custom-switch .custom-control-label:focus, .dropdown .dropdown-toggle:focus, .dropleft .dropdown-toggle:focus, .dropright .dropdown-toggle:focus, .dropup .dropdown-toggle:focus, .list-group button.list-group-item:focus, .modal .modal-content .modal-header .close:active, .modal .modal-content .modal-header .close:focus, .modal .modal-content .modal-header .close:hover, .navbar-components-wrapper .navbar .navbar-container.navbar-dark .navbar-toggler:focus, .navbar-components-wrapper .navbar .navbar-container.navbar-light .navbar-toggler:focus, .toast .toast-header .close:active, .toast .toast-header .close:focus, a:focus {
    outline: 0;
  }
  
  section .section-title:after {
    width: 70px;
    height: 2px;
    content: "";
    margin: 0.6rem 0 1rem;
    background-color: #5A8DEE;
    display: block;
  }
  
  a {
    text-decoration: none;
    outline: 0;
  }
  
  button {
    outline: 0;
  }
  

  
  @media screen and (max-width: 767px) {
    #main {
      margin-left: 0;
    }
  
    .breadcrumb-header .breadcrumb {
      justify-content: flex-start;
      padding: 0;
      font-size: 0.8rem;
    }
  }
  
  
  /** 2.11 Sidebar **/
  #sidebar.active .sidebar-wrapper {
    left: 0;
  }
  #sidebar:not(.active) ~ #main {
    margin-left: 0;
  }
  
  .sidebar-wrapper {
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    bottom: 0;
    border-right: 1px solid #eee;
    box-shadow: 0 0 10px #ececec;
    left: -260px;
    transition: left 0.6s ease-out;
  }
  .sidebar-wrapper .sidebar-header {
    padding: 2rem 2rem 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .sidebar-wrapper .sidebar-header img {
    height: 2.5rem;
  }
  .sidebar-wrapper .sidebar-toggler.x {
    position: absolute;
    right: 0;
    top: 0.5rem;
    display: none;
  }
  .sidebar-wrapper .menu {
    padding-left: 0;
    margin-top: 2rem;
  }
  .sidebar-wrapper .menu .sidebar-title {
    padding: 1.5rem 1.8rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #888;
    text-transform: uppercase;
  }
  .sidebar-wrapper .menu .sidebar-link {
    display: block;
    padding: 0.7rem 1.5rem;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    transition: all 0.5s;
  }
  .sidebar-wrapper .menu .sidebar-link:hover span {
    opacity: 1;
  }
  .sidebar-wrapper .menu .sidebar-link > span {
    color: #053382;
    font-weight: 500;
    margin-left: 1rem;
    opacity: 0.8;
  }
  .sidebar-wrapper .menu .sidebar-item {
    list-style: none;
    margin-top: 0.5rem;
    position: relative;
  }
  .sidebar-wrapper .menu .sidebar-item.has-sub .sidebar-link:after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9" style="fill:none;stroke:gray;stroke-width:1"></polyline></svg>');
    position: absolute;
    color: #ccc;
    right: 15px;
    top: 12px;
    display: block;
  }
  .sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: #e8f3ff;
  }
  .sidebar-wrapper .menu .sidebar-item.active .sidebar-link:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(46, 170, 244, 0.5);
    width: 5px;
  }
  .sidebar-wrapper .menu .submenu {
    list-style: none;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
  .sidebar-wrapper .menu .submenu.active {
    max-height: 500px;
  }
  .sidebar-wrapper .menu .submenu li a {
    padding: 0.7rem 3rem;
    display: block;
    color: #676767;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.2s;
  }
  .sidebar-wrapper .menu .submenu li a:hover {
    margin-left: 0.3rem;
  }
  
  @media screen and (max-width: 767px) {
    .sidebar-wrapper {
      left: -270px;
    }
    .sidebar-wrapper .sidebar-toggler.x {
      display: block;
    }
  }
  /** 2.14 Navbar **/
  .navbar {
    height: 70px;
    padding: 1.5rem;
  }
  .navbar .nav-link-user img {
    width: 30px;
  }
  .navbar.navbar-header li {
    display: flex;
    align-items: center;
  }
  .navbar.navbar-header li.nav-icon {
    margin-right: 0.4rem;
  }
  .navbar.navbar-header li.nav-icon .nav-link {
    display: block;
    padding: 0.4rem;
    border-radius: 50%;
  }
  .navbar.navbar-header li.nav-icon .nav-link:hover {
    background-color: #e9ecef;
  }
  .navbar.navbar-header .dropdown > a {
    color: #6c757d;
    font-weight: 600;
  }
  .navbar.navbar-header .dropdown > a svg {
    height: 24px;
    width: 24px;
  }
  .navbar.navbar-header .dropdown > a:after {
    display: none;
  }
  
  