@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.left-content {

    display: flex;
    flex-direction: column; /* Mengatur agar konten ditampilkan dalam kolom */
}


.title-name {
    padding: 1em;
    width: 475px;
    height: 125px;
    background-color: #F6FAFF;
    border-radius: 10px;
    border: 2px solid #E6EDFF; /* Tambahkan properti border */
}

.title-up {
    display: flex;
    justify-content: space-between;

}


.p-bold p {
  color: #5243E6;
  font-weight: bolder;
  font-size: larger;
  display: inline-flex; /* Menyelaraskan teks dan tombol secara horizontal */
  align-items: center; /* Menyelaraskan teks dan tombol secara vertikal */
}

.toggle-button {
  margin-left: 10px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  background-color: #EBEBEB;
  color: #373636;
  border: none; /* Menghilangkan border */
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 10px;
  height: 20px;
  white-space: nowrap;
  padding: 0 5px; /* Menambahkan sedikit padding di kiri dan kanan */
  transform: translateY(-5px); /* Menaikkan tombol sedikit ke atas */
}

.toggle-button:focus,
.toggle-button:active {
  outline: none; /* Menghilangkan outline saat tombol di-klik atau fokus */
  box-shadow: none; /* Menghilangkan bayangan bawaan yang mungkin ditambahkan oleh browser */
}


.title-stats {
    justify-content: center;
    align-content: center;
    display: flex;
    width: 80px;
    height: 25px;
    background-color: #BBF6EA;
    color: #17E438;
    border-radius: 12px;
    font-weight: bolder;
    font-size: small;
    padding-top: 2px;
}

.h2-bold h2 {

    font-weight: 1000;

}

.user-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
  width: 300px;
  background-color: #E5EEFF;
  border-radius: 18px;
  transition: max-height 0.5s ease-in-out; /* Animasi memanjang dan memendek */
  max-height: 75px; /* Ketinggian awal */
  overflow: hidden;
}

.user1 {
  margin-top: 20px;
  width: 300px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.pp  {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user {
  width: 300px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: #d1d1d1 solid 1px;
}

.username {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-right: 0;
}

.username h2 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0;
}

.additional-info {
  max-height: 350px; /* Batasi tinggi dropdown */
  overflow-y: auto; /* Aktifkan scrolling */
  padding: 10px;
  background-color: #E5EEFF;
  border-top: 1px solid #ccc;
  transition: opacity 0.3s ease;
  opacity: 0; /* Awal dropdown tersembunyi */
}

.user-container.expand .additional-info {
  opacity: 1; /* Dropdown muncul dengan animasi */
}

.toggle-btn {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.user-container.expand .toggle-btn {
  transform: rotate(180deg);
}

/* Custom Scrollbar dengan hide */
.additional-info::-webkit-scrollbar {
  width: 0; /* Sembunyikan scrollbar */
}



  
.custom-line {
    border: none; /* Menghilangkan border default */
    border-top: 2px solid #E6EDFF; /* Menambahkan garis mendatar dengan warna dan ketebalan yang diinginkan */
    margin: 20px 0; /* Menambahkan margin untuk memberi jarak ke elemen lain (opsional) */
}


.vehicle {
    padding: 1em;
    width: 475px;
    height: 225px;
    background-color: #F6FAFF;
    border: #E6EDFF solid 2px;
    border-radius: 18px;
    overflow: hidden; /* Agar konten tidak meluap */
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box; /* Memastikan padding dihitung dalam ukuran elemen */
}

.vehicle-title {
    display: flex;
    flex-direction: column;
   
    margin-bottom: 0.5em; /* Jarak antara title dan detail */
}

.vehicle-title h2 {
    margin: 0;
    font-size: 1.8em;
    color: #333333; /* Warna teks */
}

.vehicle-title p {
    margin: 0.2em 0 0 0; /* Jarak sedikit antara h2 dan p */
    font-size: 1em;
    color: #5243E6; /* Warna teks */
}

.vehicle-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Menyelaraskan konten ke atas */
    overflow: hidden; /* Agar konten tidak meluap */
}

.vehicle-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em; /* Jarak antara left-data dan right-data */
    flex-grow: 1; /* Memastikan vehicle-data mengambil ruang maksimal */
}

.data {
    margin: 0 0.5em; /* Jarak antara elemen data */
}

.data h5 {
    font-weight: bolder;
    margin: 0;
    font-size: 0.85em; /* Sesuaikan ukuran font */
    color: #999999; /* Warna teks */
    white-space: nowrap; /* Agar teks tidak membungkus */
    overflow: hidden;
    text-overflow: ellipsis; /* Tambahkan "..." jika teks terlalu panjang */
}

.data p {
    margin: 0;
    font-size: 0.85em; /* Sesuaikan ukuran font */
    font-weight: bolder;
    color: #333333; /* Warna teks */
}

.vehicle-img {
    margin-left: auto; /* Agar gambar berada di paling kanan */
    align-self: center; /* Menyelaraskan gambar di tengah vertikal */
}

.vehicle-img img {
    max-width: 100%; /* Sesuaikan ukuran gambar */
    height: auto;
    display: block;
}

.colorG {
    color: #89E381;
}

.expanses {
    margin-top: 1em;
    background-color: #F6FAFF;
    width: 475px;
    height: 400px;
    border: #E6EDFF solid 2px;
    border-radius: 18px;
    padding: 1em;
    box-sizing: border-box; /* Memastikan padding dihitung dalam ukuran elemen */
}

.expanses-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-expanses {
    display: flex;
    flex-direction: column;
    gap: 0.3em; /* Jarak antara h2 dan p lebih dekat */
}

.title-expanses h2 {
    margin: 0;
    font-size: 1.8em;
    color: #333333; /* Warna teks */
}

.title-expanses p {
    margin: 0;
    font-size: 1em;
    color: #5243E6; /* Warna teks */
}

.img-expanses img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 1em; /* Jarak antara gambar dan teks */
}


.driver-doc {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Menambahkan jarak antara kolom */
}

.doc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 5px); /* Mengatur lebar untuk membuat dua kolom */
    height: 50px;
}


.doc-name h5 {
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 2px; /* Mengurangi jarak bawah dari h5 */
}

.doc-name p {
    color: #7F8489;
    font-size: 1em;
    
}

.doc-view img {
   margin-bottom: 15px;
   margin-right: 8px;
}

.right-content {
    padding-left: 1em;
}



  * {
    font-family: "Manrope";
  }
  
  #app {
    position: relative;
  }
  
  #main {
    margin-left: 260px;
    background-color: #F7FAFF;
    min-height: 100vh;
    transition: margin-left 0.6s ease-out;
  }
  #main .main-content {
    padding: 2rem 1.5rem;
  }
  #main .main-content .page-title h3 {
    font-size: 2rem;
  }
  #main .main-content .text-subtitle {
    font-size: 0.9rem;
  }
  
  .breadcrumb-header .breadcrumb {
    justify-content: flex-end;
  }
  
  .alert.alert-dismissible .close:focus, .custom-switch .custom-control-label:focus, .dropdown .dropdown-toggle:focus, .dropleft .dropdown-toggle:focus, .dropright .dropdown-toggle:focus, .dropup .dropdown-toggle:focus, .list-group button.list-group-item:focus, .modal .modal-content .modal-header .close:active, .modal .modal-content .modal-header .close:focus, .modal .modal-content .modal-header .close:hover, .navbar-components-wrapper .navbar .navbar-container.navbar-dark .navbar-toggler:focus, .navbar-components-wrapper .navbar .navbar-container.navbar-light .navbar-toggler:focus, .toast .toast-header .close:active, .toast .toast-header .close:focus, a:focus {
    outline: 0;
  }
  
  section .section-title:after {
    width: 70px;
    height: 2px;
    content: "";
    margin: 0.6rem 0 1rem;
    background-color: #5A8DEE;
    display: block;
  }
  
  a {
    text-decoration: none;
    outline: 0;
  }
  
  button {
    outline: 0;
  }
  

  
  @media screen and (max-width: 767px) {
    #main {
      margin-left: 0;
    }
  
    .breadcrumb-header .breadcrumb {
      justify-content: flex-start;
      padding: 0;
      font-size: 0.8rem;
    }
  }
  
  
  /** 2.11 Sidebar **/
  #sidebar.active .sidebar-wrapper {
    left: 0;
  }
  #sidebar:not(.active) ~ #main {
    margin-left: 0;
  }
  
  .sidebar-wrapper {
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    bottom: 0;
    border-right: 1px solid #eee;
    box-shadow: 0 0 10px #ececec;
    left: -260px;
    transition: left 0.6s ease-out;
  }
  .sidebar-wrapper .sidebar-header {
    padding: 2rem 2rem 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .sidebar-wrapper .sidebar-header img {
    height: 2.5rem;
  }
  .sidebar-wrapper .sidebar-toggler.x {
    position: absolute;
    right: 0;
    top: 0.5rem;
    display: none;
  }
  .sidebar-wrapper .menu {
    padding-left: 0;
    margin-top: 2rem;
  }
  .sidebar-wrapper .menu .sidebar-title {
    padding: 1.5rem 1.8rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #888;
    text-transform: uppercase;
  }
  .sidebar-wrapper .menu .sidebar-link {
    display: block;
    padding: 0.7rem 1.5rem;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    transition: all 0.5s;
  }
  .sidebar-wrapper .menu .sidebar-link:hover span {
    opacity: 1;
  }
  .sidebar-wrapper .menu .sidebar-link > span {
    color: #053382;
    font-weight: 500;
    margin-left: 1rem;
    opacity: 0.8;
  }
  .sidebar-wrapper .menu .sidebar-item {
    list-style: none;
    margin-top: 0.5rem;
    position: relative;
  }
  .sidebar-wrapper .menu .sidebar-item.has-sub .sidebar-link:after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9" style="fill:none;stroke:gray;stroke-width:1"></polyline></svg>');
    position: absolute;
    color: #ccc;
    right: 15px;
    top: 12px;
    display: block;
  }
  .sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: #e8f3ff;
  }
  .sidebar-wrapper .menu .sidebar-item.active .sidebar-link:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(46, 170, 244, 0.5);
    width: 5px;
  }
  .sidebar-wrapper .menu .submenu {
    list-style: none;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
  .sidebar-wrapper .menu .submenu.active {
    max-height: 500px;
  }
  .sidebar-wrapper .menu .submenu li a {
    padding: 0.7rem 3rem;
    display: block;
    color: #676767;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.2s;
  }
  .sidebar-wrapper .menu .submenu li a:hover {
    margin-left: 0.3rem;
  }
  
  @media screen and (max-width: 767px) {
    .sidebar-wrapper {
      left: -270px;
    }
    .sidebar-wrapper .sidebar-toggler.x {
      display: block;
    }
  }
  /** 2.14 Navbar **/
  .navbar {
    height: 70px;
    padding: 1.5rem;
  }
  .navbar .nav-link-user img {
    width: 30px;
  }
  .navbar.navbar-header li {
    display: flex;
    align-items: center;
  }
  .navbar.navbar-header li.nav-icon {
    margin-right: 0.4rem;
  }
  .navbar.navbar-header li.nav-icon .nav-link {
    display: block;
    padding: 0.4rem;
    border-radius: 50%;
  }
  .navbar.navbar-header li.nav-icon .nav-link:hover {
    background-color: #e9ecef;
  }
  .navbar.navbar-header .dropdown > a {
    color: #6c757d;
    font-weight: 600;
  }
  .navbar.navbar-header .dropdown > a svg {
    height: 24px;
    width: 24px;
  }
  .navbar.navbar-header .dropdown > a:after {
    display: none;
  }


  
  
  