@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
  .button-container {
    margin-top: 20px; /* Beri sedikit jarak atas dari tombol */
    text-align: center; /* Atur agar tombol berada di tengah */
  }
  button {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    margin: auto; /* Agar tombol berada di tengah */
  }
  button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
  }
  button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
  }
  button:hover {
    color: white;
  }
  button:active span::before {
    background: #2751cd;
  }

  

section {
  padding: 2em;
  min-height: 100vh;
}

section:nth-of-type(odd) {
    background-color: #FFFFFF;
}

section:nth-of-type(even) {
    background-color: #F4FAFF;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2em 0;

}

.home {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}

.content1 {
  margin-top: 50px;
  width: 500px;
  margin-left: 50px;
}
.content1 h2 {
  font-size: 50px;
  font-weight: 100px;
  font-family: 'Manrope';

}

.content1 p {
  font-family: 'DM Sans';
  color: #454545;
}

.funfact {
  display: flex;
  justify-content: baseline;
}

.fact {
  width: 120px;
  margin: 10px;
}

.fact h2 {
  font-size: 45px;
}

.fact p {
 font-size: 10px;
}

.imgbox {
  margin-top: 5px;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 325px;
  height: 425px;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 0.54);
}

.img-btn {
  margin: 10px;
}

.about-head {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.about-tittle {
  width: 550px;
}

.about {
  padding: 2em;
  
}

.about-tittle h4 {
  color: #55C1F8;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Manrope';
  
}

.about-tittle h2 {
  font-size: 45px;
  font-weight: 75px;
  font-family: 'Manrope';
}

.about-LearnMore {
  width: 510px;
  margin-right: 100px;
}

.about-LearnMore p {
  font-family: 'DM Sans';
  color: #454545;
}

.content2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.about-Left img {
  width: 750px;
}

.about-right {
  margin-top: 60px;
  margin-right: 50px;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  
  
}
.about-right-content {
  
  margin-right: 75px;
  
  width: 375px; 
  

}

.about-right-p p {
  font-family: 'DM Sans';
  color: #454545;
}

.head-about-right {
  display: flex;
  justify-content: space-between;

}

.head-about-right h2 {
  font-size: 45px;
  font-weight: 75px;
  font-family: 'Manrope';
}

.head-about-right img {
  width: 40px;
  margin-right: 25px;
  margin-bottom: 50px;
}

.about-right-foot {
  display: flex;
  justify-content: first baseline;
  margin-right: 150px;
}

.about-foot-img {
  margin: 10px;
  
}





.services {
  padding: 2em;
}

.tittle_services {
  width:550px;
}

.h4bt h4 {
  color: #55C1F8;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Manrope';
}

.h2bt h2 {
  font-size: 45px;
  font-weight: 75px;
  font-family: 'Manrope';
}

.head_services {
  display: flex;
  justify-content: space-between;
}

.head_services img {
  margin-right: 10px;
}

.container_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  max-width: 100%;
  font-family: 'Manrope';
}

.card_services {
  padding: 50px;
  text-align: left;
  flex: 1 1 calc(33.333% - 25px); /* Three cards per row with gap considered */
  box-sizing: border-box;
}

.card-number_services {
  color: #787878;
  font-size: 30px;
  font-weight: 75px;
  margin-bottom: 10px;
}

.card-title_services {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content_services {
  color: #787878;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .card_services {
      flex: 1 1 calc(48% - 25px); /* Two cards per row with gap considered */
  }
}

@media (max-width: 768px) {
  .card_services {
      flex: 1 1 calc(48% - 25px); /* Two cards per row with gap considered */
  }
}

@media (max-width: 480px) {
  .card_services {
      flex: 1 1 100%;
      text-align: center;
  }
}


.products {
  padding: 2em;
}

.head_products {
  display: flex;
  justify-content: space-between;

}

.left_head_products {
  width: 500px;
}

.right_head_products {
  margin-top: 50px;
  width: 500px;
}