body {
    background-color: #041124;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}


.header {
    display: flex;
    justify-content: center;
    padding: 0.8em;
    padding-top: 0em;
}

.header h2 {
    font-family: 'Lato';
    font-weight: 700;
    color: #FFFFFF;
}


.main-content {
    width: 100%;
    border-radius: 40px 40px 0 0;
    height: 900px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;

}

.camera-container {
    padding-top: 1em;
    width: 90%;
    height: 40%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

#camera-stream, #photo-preview {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
    object-fit: cover;
    border: none;
    outline: none;
}

#snapshot {
    display: none;
    border: none;
    outline: none;
}

.controls {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    outline: none;
}

.controls img {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #142D5D;
    color: white;
    cursor: pointer;
}

button#retake-photo {
    background-color: #C22626;
}

