body {
    background-color: #041124;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-top: 0em;
}

.header h3 {
    font-family: 'Lato';
    font-weight: 700;
    color: #FFFFFF;
}

.header img {
    width: 15%;
    height: auto;
}

.main-content {
    width: 100%;
    border-radius: 40px 40px 0 0;
    height: 900px;
    background-color: #FFFFFF;
    padding-bottom: 0px; /* Tambahkan padding untuk memberikan ruang bagi navbar */
}















.Attendance-Header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 20px;
}

.Attendance-Header p {
    font-weight: 700;
    color: #7F8489;
    font-size: 14px;
    margin-top: 0.05em;
    margin-bottom: 0;
}

.Attendance-Header h3 {
    font-weight: 900;
    font-family: 'Manrope';
    font-size: 35px;
    margin-top: 0.30em;
    margin-bottom: 0px;
}




.AddAttendance {
    margin-top: 1em;
    width: 125px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    background-color: #5243E6;
    border-radius: 40px;

    border: none; /* Menghapus border */
    cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
  }
  
  .AddAttendance:hover {
    background-color: #1b107e; /* Efek hover */
  }
  
  .AddAttendance:active {
    background-color: #1b107e; /* Efek on click */
  }
  .addButton {
    width: 12px;
    height: 12px;
  }
  
  .addButtonLabel {
    font: "Poppins", Helvetica, Arial, serif;
    font-size: 11px;
    color: white;
    font-weight: 00;
  }
  


  
