body {
    background-color: #041124;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-top: 0em;
}

.header h3 {
    font-family: 'Lato';
    font-weight: 700;
    color: #FFFFFF;
}

.header img {
    width: 15%;
    height: auto;
}

.main-content {
    width: 100%;
    border-radius: 40px 40px 0 0;
    height: 900px;
    background-color: #FFFFFF;
    padding-bottom: 0px; /* Tambahkan padding untuk memberikan ruang bagi navbar */
}















.Attendance-Header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 20px;
}

.Attendance-Header p {
    font-weight: 700;
    color: #7F8489;
    font-size: 14px;
    margin-top: 0.05em;
    margin-bottom: 0;
}

.Attendance-Header h3 {
    font-weight: 900;
    font-family: 'Manrope';
    font-size: 35px;
    margin-top: 0.30em;
    margin-bottom: 0px;
}




.AddAttendance {
    margin-top: 1em;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5243E6;
    border-radius: 40px;

    border: none; /* Menghapus border */
    cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
  }
  
  .AddAttendance:hover {
    background-color: #1b107e; /* Efek hover */
  }
  
  .AddAttendance:active {
    background-color: #1b107e; /* Efek on click */
  }

  .addButtonLabel {
    font: "Lato", Helvetica, Arial, serif;
    font-size: 13px;
    color: white;
    font-weight: 750;
  }
  







  
  .attendance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.Attendance-Card {
    display: flex;
    flex-direction: column;
    width: 340px; /* Disesuaikan dengan ukuran card yang terlihat pada gambar */
}

.Attendance-Card-header {
    color: #7F8489;
    font-weight: 900;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}

.Card-Attendance {
    display: flex;
    justify-content: space-between;

    border: 1px solid #EBEBEB;
    border-radius: 0.8em;
    padding: 1em;
}

.Info-Card-Content {
    display: flex;
    flex-direction: column;
    gap: 0.5em; /* Berikan jarak antar elemen */
}

.Info-Card-Content p {
    color: #7F8489;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
}

.Info-Card-Content h4 {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    color: #000;
}

.Info-Card-Content h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 650;
    font-size: 13px;
    color: #7F8489;
    margin: 0;
}

.right-card-Content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.Stats-Card-Content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3px 8px;
    border-radius: 12px;
    
}

.Stats-Card-Content p {
    font-family: 'Manrope', sans-serif;
    font-size: 8px;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.Approved {
    background-color: #BBF6EA;
    color: #17E438; /* Warna teks hijau */
}

.Awaiting {
  background-color: #EAF6BB;
  color: #E4BE39; /* Warna teks hijau */
}

.Declined {
  background-color: #F6BBBB;
  color: #D74343; /* Warna teks hijau */
}