
.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-top: 0em;
}

.header h3 {
    font-family: 'Lato';
    font-weight: 700;
}

.header img {
    width: 15%;
    height: auto;
}

.DriverInfo {
    position: relative;
    background-color: #142D5D;
    border-radius: 35px;
    padding: 1em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    color: white;
    height: 130px;

    
}

.CarImage {
    position: absolute;
    top: -65px;
    right: 140px;
    transform: translateX(30%);
}

.CarImage img {
    width: 300px;
    height: auto;
}

.InfoDriver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px; /* memberikan ruang untuk gambar mobil */
}

.Driver-Profile {
    display: flex;
    align-items: center;
}

.Driver-Profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.User-Profile {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.User-Profile h4 {
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Lato';
    margin: 1px;
    font-size: 15px;
}

.User-Profile p {
    color: #7F8489;
    font-family: 'Lato';
    margin: 1px;
    font-size: 12px;
}

.Driver-Detail img {
    width: 35px;
    height: 35px;
}

.VehicleStatus {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-top: #253B68 solid 1px;
}

.status-vehicle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px;
}

.VehicleStatus p {
    font-family: 'Montserrat';
    color: #FFFFFF;
    font-weight: 200;
    font-size: small;
}

.online {
    background-color: #30BB4E;
}


.Expanse {
    display: flex;
    flex-direction: column;

}

.Expanse-Header {
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato';
    font-weight: 800;
}
.Expanse-Header h3 {
    font-size: 16px;
}


.Expanse-SeeAll {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.Expanse-SeeAll h5 {
    font-size: 12px;
}
.Expanse-SeeAll img {
    margin-left: 8px;
    width: 6px;
    height: auto;
}


.card-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    scrollbar-width: none; /* Firefox */
}

.card-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.card {
    flex: 0 0 85px; /* Set the width of each card */
    background-color: #F1F2F5;
    border-radius: 28px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Drop shadow sesuai dengan pengaturan pada gambar */
    margin-right: 15px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 50px;
    margin-top: 10px;
    height: auto;
    margin-bottom: 0px;
}

.card h3 {
    font-size: 17px;
    font-family: 'Lato';
    margin: 10px 0;
    font-weight: 750;
}

.card p {
    font-size: 13px;
    font-family: 'Lato';
    font-weight: 400;
    color: #7F8489;
    margin: 10px 0;
    padding-bottom: 10px;
}

.Vehicle {
    margin-top: 1.5em;
    padding: 1em;
    align-items: center;
    background-color: #142D5D;
    border-radius: 35px;
    display: flex;
    height: 75px;
    justify-content: space-between;
}

.Vehicle-Status {
    margin-bottom: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.Vehicle-Status h5 {
    font-family: 'Lato';
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 650;
    font-size: 17px;
}

.Vehicle-Status p {
    font-weight: 500;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0;
    font-family: 'Lato';
    color: #7F8489;
}

.toggle-button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none; /* Menghilangkan outline */
    user-select: none; /* Mencegah pemilihan elemen */
    -webkit-tap-highlight-color: transparent; /* Menghilangkan efek highlight biru di mobile/webkit */
}

.toggle-button img {
    width: 60px;
    height: auto;
    transition: opacity 0.3s ease-in-out; /* Menambahkan transisi untuk opacity */
}

.hidden {
    opacity: 0; /* Menyembunyikan elemen dengan opacity */
    transition: opacity 0.3s ease-in-out;
}

/* Menghilangkan efek block saat ditekan atau difokuskan */
.toggle-button:focus {
    outline: none;
}

.toggle-button:active {
    background-color: transparent;
    outline: none;
}


.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup.show {
    display: block;
    opacity: 1;
}

.popup.success {
    background-color: green;
}

.popup.error {
    background-color: red;
}

.popup.info {
    background-color: blue;
}




.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.hidden {
    display: none;
}



