body {
    background-color: #041124;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.main-content {
    width: 100%;
    border-radius: 40px 40px 0 0;
    height: 900px;
    background-color: #FFFFFF;
    padding-bottom: 0px; /* Tambahkan padding untuk memberikan ruang bagi navbar */
}





.request-option {
    padding-top: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}



.request-tabs {
    display: flex;
    gap: 0; /* Menghilangkan jarak antara tombol */
    border: 1px solid #C0C0C0;
    overflow: hidden;
}

.tab {
    background-color: #EEEEEE; /* Warna tombol yang tidak aktif */
    border: none;
    padding: 0.4em 0.5em; /* Memperkecil padding untuk kotak */
    font-family: 'Manrope';
    font-weight: 600;
    color: #B0B3B8;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Membuat tombol memiliki lebar yang sama */
    outline: none; /* Menghilangkan outline saat tombol ditekan */
}

.tab.active {
    background-color: #FFF; /* Warna tombol yang aktif */
    color: #000;
    border: none; /* Menghilangkan border */
}





.tab:not(.active):hover {
    background-color: #d6d6d6; /* Warna tombol saat di-hover */
    color: #fdfdfd;
}

.tab:not(.active):hover span.badge {
    background-color: #fdfdfd; /* Warna badge saat di-hover */
    color: #000;
}

.tab:focus {
    outline: none; /* Menghilangkan border hitam saat tombol ditekan */
}