body {
    background-color: #041124;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-top: 0em;
}

.header h3 {
    font-family: 'Lato';
    font-weight: 700;
    color: #FFFFFF;
}

.header img {
    width: 15%;
    height: auto;
}

.main-content {
    width: 100%;
    border-radius: 40px 40px 0 0;
    height: 900px;
    background-color: #FFFFFF;
    padding-bottom: 0px; /* Tambahkan padding untuk memberikan ruang bagi navbar */
}





.request-option {
    padding-top: 0.5em;

    display: flex;
    align-items: center;
    justify-content: center;
}



.request-tabs {
    display: flex;
    gap: 0; /* Menghilangkan jarak antara tombol */
    border: 1px solid #C0C0C0;
    overflow: hidden;
}

.tab {
    background-color: #EEEEEE; /* Warna tombol yang tidak aktif */
    border: none;
    font-size: 12px;
    padding: 0.35em 0.85em; /* Memperkecil padding untuk kotak */
    font-family: 'Manrope';
    font-weight: 600;
    color: #B0B3B8;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Membuat tombol memiliki lebar yang sama */
    outline: none; /* Menghilangkan outline saat tombol ditekan */
}

.tab.active {
    background-color: #FFF; /* Warna tombol yang aktif */
    color: #000;
    border: none; /* Menghilangkan border */
}





.tab:not(.active):hover {
    background-color: #d6d6d6; /* Warna tombol saat di-hover */
    color: #fdfdfd;
}

.tab:not(.active):hover span.badge {
    background-color: #fdfdfd; /* Warna badge saat di-hover */
    color: #000;
}

.tab:focus {
    outline: none; /* Menghilangkan border hitam saat tombol ditekan */
}










.Expanse-Header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

.Expanse-Header p {
    font-weight: 700;
    color: #7F8489;
    font-size: 14px;
    margin-top: 0.05em;
    margin-bottom: 0;
}

.Expanse-Header h3 {
    font-weight: 900;
    font-family: 'Manrope';
    font-size: 35px;
    margin-top: 0.30em;
    margin-bottom: 0px;
}




.AddExpanse {
    margin-top: 1em;
    width: 125px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    background-color: #5243E6;
    border-radius: 40px;

    border: none; /* Menghapus border */
    cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
  }
  
  .AddExpanse:hover {
    background-color: #1b107e; /* Efek hover */
  }
  
  .AddExpanse:active {
    background-color: #1b107e; /* Efek on click */
  }
  .addButton {
    width: 12px;
    height: 12px;
  }
  
  .addButtonLabel {
    font: "Poppins", Helvetica, Arial, serif;
    font-size: 11px;
    color: white;
    font-weight: 00;
  }
  


  
.card-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    scrollbar-width: none; /* Firefox */
}

.card-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.card {
    flex: 0 0 85px; /* Set the width of each card */
    background-color: #F1F2F5;
    border-radius: 28px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Drop shadow sesuai dengan pengaturan pada gambar */
    margin-right: 15px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 50px;
    margin-top: 10px;
    height: auto;
    margin-bottom: 0px;
}

.card h3 {
    font-size: 17px;
    font-family: 'Lato';
    margin: 10px 0;
    font-weight: 750;
}

.card p {
    font-size: 13px;
    font-family: 'Lato';
    font-weight: 400;
    color: #7F8489;
    margin: 10px 0;
    padding-bottom: 10px;
}