body {
    background-color: #041124;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-top: 0em;
}

.header h3 {
    font-family: 'Lato';
    font-weight: 700;
    color: #FFFFFF;
}

.header img {
    width: 15%;
    height: auto;
}

.main-content {
    width: 100%;
    border-radius: 40px 40px 0 0;
    height: auto;
    min-height: 750px;
    background-color: #FFFFFF;
    padding-bottom: 0px; /* Tambahkan padding untuk memberikan ruang bagi navbar */
}





.request-option {
    padding-top: 0.5em;

    display: flex;
    align-items: center;
    justify-content: center;
}



.request-tabs {
    display: flex;
    gap: 0; /* Menghilangkan jarak antara tombol */
    border: 1px solid #C0C0C0;
    overflow: hidden;
}

.tab {
    background-color: #EEEEEE; /* Warna tombol yang tidak aktif */
    border: none;
    font-size: 12px;
    padding: 0.35em 0.85em; /* Memperkecil padding untuk kotak */
    font-family: 'Manrope';
    font-weight: 600;
    color: #B0B3B8;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Membuat tombol memiliki lebar yang sama */
    outline: none; /* Menghilangkan outline saat tombol ditekan */
}

.tab.active {
    background-color: #FFF; /* Warna tombol yang aktif */
    color: #000;
    border: none; /* Menghilangkan border */
}





.tab:not(.active):hover {
    background-color: #d6d6d6; /* Warna tombol saat di-hover */
    color: #fdfdfd;
}

.tab:not(.active):hover span.badge {
    background-color: #fdfdfd; /* Warna badge saat di-hover */
    color: #000;
}

.tab:focus {
    outline: none; /* Menghilangkan border hitam saat tombol ditekan */
}










.Expanse-Header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

.Expanse-Header p {
    font-weight: 700;
    color: #7F8489;
    font-size: 14px;
    margin-top: 0.05em;
    margin-bottom: 0;
}

.Expanse-Header h3 {
    font-weight: 900;
    font-family: 'Manrope';
    font-size: 35px;
    margin-top: 0.30em;
    margin-bottom: 0px;
}




.AddExpanse {
    margin-top: 1em;
    width: 125px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    background-color: #5243E6;
    border-radius: 40px;

    border: none; /* Menghapus border */
    cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
  }
  
  .AddExpanse:hover {
    background-color: #1b107e; /* Efek hover */
  }
  
  .AddExpanse:active {
    background-color: #1b107e; /* Efek on click */
  }
  .addButton {
    width: 12px;
    height: 12px;
  }
  
  .addButtonLabel {
    font: "Poppins", Helvetica, Arial, serif;
    font-size: 11px;
    color: white;
    font-weight: 00;
  }
  


  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolom */
    gap: 10px 5px; /* Jarak antar card */
    padding: 10px;
}

.card-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.card {
    flex: 0 0 85px; /* Set the width of each card */
    background-color: #F1F2F5;
    border-radius: 28px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Drop shadow sesuai dengan pengaturan pada gambar */
    margin-right: 15px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 40px;
    margin-top: 10px;
    height: auto;
    margin-bottom: 0px;
}

.card h3 { 
    
    font-size: 17px;
    font-family: 'Lato';
    margin: 10px 0;
    font-weight: 750;
}

.card p {
    font-size: 13px;
    font-family: 'Lato';
    font-weight: 400;
    color: #7F8489;
    margin: 10px 0;
    padding-bottom: 10px;
}




.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup.show {
    display: block;
    opacity: 1;
}

.popup.success {
    background-color: green;
}

.popup.error {
    background-color: red;
}

.popup.info {
    background-color: blue;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    width: 95%;
    max-width: 500px;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.expense-header {
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
}

.expense-header h2 {
    margin-left: 10px;
    font-family: 'Lato';
    font-weight: 800;

}

.expense-icon {
    width: 47px;
    height: 47px;
    background-color: #F4F4F4;
    border-radius: 28px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Drop shadow sesuai dengan pengaturan pada gambar */
    margin-right: 5px;
    padding: 24px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 20px;
}

.expense-details {

}

.details-expanse {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expanse-data {
    margin-left: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detail-row {

    margin-bottom: 15px;
}

.detail-row div {
    display: block; /* Makes the label and data appear vertically */
    margin-bottom: 5px; /* Add some spacing between label and data */
}


.detail-row strong {
    display: block; /* Keep the label on its own line */
    margin-bottom: 5px; /* Space between label and data */
    color: #7F8489;
    font-weight: 500;
    font-family: 'Lato';
    font-size: 16px;
}


.detail-row span {
    font-family: 'Manrope';
    font-weight: 800;
    color: #373636;
    font-size: 14px;
}

#view-image {
    color: #5243E6;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 14px;
    
}
.total-cost {
    display: flex; /* Align elements side by side */
    justify-content: flex-start; /* Center the content horizontally */
    align-items: center; /* Align content vertically */
    padding-bottom: 15px;
    margin-left: 10px;
}

.total-cost p {
    font-family: 'Lato';
    color: #7F8489;
    font-size: 14px;
    font-weight: 500;
    margin: 0; /* Remove default margin */
}

.total-cost span {
    font-family: 'Lato';
    color: #09244B;
    font-weight: 800;
    font-size: 14px;
    margin-left: 5px; /* Add space between label and value */
}


.hidden {
    display: none;
}
