.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    font-weight: 800;
    font-family: 'Lato';
    align-items: center;
}

.header img {
    width: 25px;
    height: 25px;

}

.Logout-btn button {
    outline: none;
    border: none;
    background: transparent;
}

.Driver-Profile {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}

.Driver-Profile img {
    margin-top: 0;
    margin-bottom: 0;
    width: 120px;
    height: 120px;
}

.Driver-Profile h2 {
    font-weight: 800;
    font-family: 'Lato';
    margin-top: 2px;
    margin-bottom:0px;
}

.Profile-Info {
    margin-top: 2em;
    border-top: #CCCCCC solid 1px;
}

.head-profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-head-profile-info {
    display: flex;
    align-items: center;
    font-family: 'Lato';
    font-weight: 800;
}


.head-profile-info h2 {
    font-family: 'Manrope';
    font-weight: 700;
    margin-left: 10px;
}





.card-doc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 100px;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.card-doc-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.card-doc-title {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 800;
}

.card-doc-description {
    font-family: "Lato";
    font-size: 14px;
    color: #7F8489;
}






.Driver-stats {
    margin-top: 1em;
}

.head-driver-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-head-stats {
    display: flex;
    align-items: center;
    font-family: 'Lato';
    font-weight: 800;
}


.head-driver-stats h3 {
    font-family: 'Manrope';
    font-weight: 700;
    margin-left: 10px;
}





.card-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    scrollbar-width: none; /* Firefox */
}

.card-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.card {
    flex: 0 0 85px; /* Set the width of each card */
    background-color: #F1F2F5;
    border-radius: 28px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Drop shadow sesuai dengan pengaturan pada gambar */
    margin-right: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.card h3 {

    width: 80px;

    font-family: 'Lato';

    font-weight: 800;
}


.card h5 {

    width: 50px;
    color: #7F8489;
    font-size: 13px;
    font-family: 'Lato';
    margin: 10px 0;
    font-weight: 400;
}

.card p {
    font-size: 12px;
    font-family: 'Lato';
    font-weight: 400;
    color: #7F8489;
    margin: 10px 0;

}
